:root {
  --text-color-primary: var(--el-text-color-primary);
  --text-color-secondary: var(--el-text-color-secondary);
  --color-white: var(--el-color-white);
}

body {
  margin: 0;
  background-color: var(--color-white);
}

h2 {
  color: var(--text-color-primary);
}
.small-font {
  font-size: 14px;
}

.el-card__header {
  text-align: center;
}

table:not(.el-table__body) {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  td,
  th {
    padding: 5px;
    height: 43px;
  }
  tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

.page-block-title {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.save-panel {
  margin-top: 50px;
  text-align: center;
}

.el-table {
  td,
  th {
    background-color: transparent;
  }
}

.el-divider__text,
.el-input .el-input__count .el-input__count-inner,
.el-dropdown-menu {
  background-color: var(--el-color-white);
}
